# Logs and temp files
*.log
*.cache
*.bak
*.tmp

# Local OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDE / editor configs
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node & frontend
/node_modules
/public/build
/public/hot

# Composer
/vendor
/auth.json

# Homestead
Homestead.json
Homestead.yaml

# Storage (ignore everything, keep only required .gitignore placeholders)
storage/*
!storage/app/public
!storage/framework/.gitignore
!storage/logs/.gitignore
!storage/debugbar/.gitignore

# Laravel Nova (if used)
.nova
